/* FONTS FAMILY */

@font-face {  
  font-family: 'Ubuntu';
  src: url(../fonts/Ubuntu-Light.ttf);
  font-display: swap;
}

/* SETTING GLOBALES */

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

/* VARIABLES STYLES */

:root {
  --orangeLogo: #EE880D;
  --orangeSecondary: #F5B041;
  --whitePrimary: #FAFAFA;
  --grayPrimary: #B3B3B3;
  --graySecondary: #4D4D4D;
  --grayBackground: #202020;
  --blackPrimary: #050505;
  --blackBackground: #060607;
  --fontSmall: 1.3rem;
  --fontStandard: 1.6rem;
  --fontSecondary: 1.8rem;
  --fontPrimary: 2.8rem;
  --fontWeightnormal: 300;  
}

/* USE REM FONTS -- 1REM = 10PX */

html {
  font-size: 62.5%;
}

/* PRIMARY ETIQUETAS HTML */

body {
  font-family: 'Ubuntu', sans-serif;  
  color: var(--whitePrimary);
  background: var(--blackBackground);
}

h1 {
  font-size: var(--fontPrimary);
  color: var(--orangeLogo);
  text-align: start;
  line-height: 1.3;
}

h1 span {
  color: var(--grayPrimary);
}

h2 {
  font-size: var(--fontSecondary);
  font-weight: var(--fontWeightnormal);
  text-align: start;
  color: var(--whitePrimary);
  line-height: 1.3;
}


/* HEADER NAV BARRA DE NAVEGACION */

header .nav-container {
  width: 100%;
  height: 6rem;
  background-color: /*rgba(32,32,32,.8);*/ var(--grayBackground);
  display: flex;
  justify-content: center;
}

header .nav-left {
  width: 35%;
  display: flex;
  font-size: var(--fontStandard);
  color: var(--orangeSecondary);
  align-items: center;
  list-style: none;
  margin-inline-start: 2rem;
}

header .nav-center {
  width: 30%;
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: center;
}

header .nav-right {
  width: 35%;
  display: flex;
  font-size: var(--fontStandard);
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  margin-inline-end: 2rem;
}

.nav-container li a:link {
  text-decoration: none;
  color: var(--whitePrimary);
}

.nav-container li a:visited {
  color: var(--whitePrimary);
}

.nav-container li a:hover {
  color: var(--orangeLogo);
}

header .nav-important-news {
  width: 100%;
  height: auto;
  background-color: rgba(245, 176, 65, .8);
  margin-block-end: 2.4rem;
}

header .nav-important-text {
  font-size: var(--fontStandard);
  color: var(--whitePrimary);
  padding: .4rem;
  text-align: center;
}


/* MAIN INICIO FLEX CONTEINER (PANTALLA INICIAL)*/

.home-section-container .img-home-background {
  position: absolute;
  object-fit: fill;
  top: 0;
  left:0;
  width: 100vw;
  height: 100vh;
  opacity: .2;
  z-index: -10;
}

main .container-home {
  margin-block-end: 8rem;
  width: 100vw;
  height: auto;
}

main .container-home .container-home-h1 {
  width: 88%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-block-end: 2.4rem;
}

main .container-home .container-home-h1 h1 {
  padding: .25rem;
}

main .container-home .container-home-h1 div {
  width: 20rem;
  display: flex;
  justify-content: end;
  align-items: center;
  padding: .25rem;
}

main .container-home .container-home-h1 div p {
  text-align: end;
  font-size: var(--fontSmall);
}

main .container-home .container-home-h1 div figure a img {
  width: 4rem;
}

main .container-home h2 {
  width: 88%;
  margin: 0 auto;
  margin-block-end: 4.8rem;
}

main .container-home h2 span {
  font-size: var(--fontPrimary);
  color: var(--orangeSecondary);
}

main .container-home .home-categories-container {
  width: 100%;
  height: 18.8rem;
  margin-block-end: 3rem;
  background-color: rgba(6,6,7,.8);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

main .container-home .home-categories-container figure {
  text-align: center;
}

main .container-home .home-categories-container figure img {
  width: 10rem;
  border-radius: 50%;  
}

main .container-home .home-categories-container figure div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10.6rem;
  height: 10.6rem;
  background-color: var(--grayPrimary);
  border-radius: 50%;
  animation: 4s skeleton infinite ease-in-out;
  margin: 1rem auto;
}

main .container-home .home-categories-container figure figcaption {
  font-size: var(--fontStandard);  
}

.warranty-container {
  width: 88%;
  margin: 0 auto 3rem;
  display: flex;
  justify-content: space-evenly;
}

.warranty-element {
  width: 25%;
  height: 6rem;
  font-size: var(--fontStandard);
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: .5rem solid var(--orangeSecondary);
  border-end-end-radius: 1rem;
  background-color: var(--grayBackground);
  color: var(--grayPrimary);
}

.warranty-element span img {
  margin-inline-end: 2rem;
}

.container-home .text-phrase {
  width: 88%;
  margin: 0 auto;
  text-align: center;
  font-style: italic;
  color: var(--whitePrimary);
  font-size: var(--fontStandard);
}


/* SECTION HOT NOTEBOOKS - FLEX CONTAINER NOTEBOOK - FLEX-ITEM (ESTILOS DE LAS 3 NOTEBOOK) */

main .section-hot-notebooks {
  margin-block-end: 8rem;
}

main .section-hot-notebooks h3 {
  font-size: var(--fontPrimary);
  color: var(--orangeLogo);
  text-align: center;
  margin-block-end: 2.4rem;
}

main .section-hot-notebooks .flex-container-notebooks {
  /*background-image: linear-gradient(0deg, var(--grayPrimary) 0%, var(--grayBackground) 100%);*/
  background-color: var(--grayBackground);

  width: 100%;
  height: auto;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 4.8rem 2.4rem;
  margin-block-end: 2.4rem;
  row-gap: 4.8rem;
}

main .section-hot-notebooks .flex-container-notebooks .flex-item {
  width: 45%;
  height: 24rem;
  margin-inline: 1.6rem;
  border-radius: .8rem;
  display: grid;
  grid-template-columns: 32% 68%;
  grid-template-rows: 100%;    
  will-change: transform;  
}

main .section-hot-notebooks .flex-container-notebooks .flex-item:hover {
  box-shadow: 0 .2rem .2rem 0 rgba(250, 250, 250, .2);
}

main .section-hot-notebooks .flex-container-notebooks .flex-item figure {
  background-color: var(--whitePrimary);
  border-radius: .8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

main .section-hot-notebooks .flex-container-notebooks .flex-item figure img {  
  width: 90%;
  height: 90%;
  object-fit: contain;
  opacity: .9;
  transition: transform 3s;
}

main .section-hot-notebooks .flex-container-notebooks .flex-item figure img:hover {
  transform: scale(1.2);
  transition: transform 1.5s;
  opacity: 1;
}

main .section-hot-notebooks .flex-container-notebooks .flex-item div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: .8rem 1.6rem;
}

main .section-hot-notebooks .flex-container-notebooks .flex-item div .text-description {
  font-size: var(--fontStandard);
  font-weight: bold;
  color: var(--orangeSecondary);
  text-align: start;
}

main .section-hot-notebooks .flex-container-notebooks .flex-item div .text-detail, main .section-hot-notebooks .flex-container-notebooks .flex-item div .text-detail span {
  font-size: var(--fontSmall);
  color: var(--whitePrimary);
  line-height: 1.4;
  text-align: start;
}

main .section-hot-notebooks .flex-container-notebooks .flex-item div h4 {
  font-size: 2.2rem;
  color: var(--grayPrimary);  
}

main .section-hot-notebooks .flex-container-notebooks .flex-item div span {
  color: var(--orangeSecondary);
}

main .section-hot-notebooks .flex-container-notebooks .flex-item div p span {
  font-size: var(--fontSmall);
  color: var(--grayPrimary);
  text-align: start;
}

main .section-hot-notebooks .text-conditions {
  font-size: var(--fontStandard);
  text-align: center;
}


/* ARTICLE GRID PRINCIPAL PROMOCIONES */

.section-hot-products {
  width: 100%;
  margin: 0 auto;
  margin-block-end: 8rem;
}

.section-hot-products h3 {
  font-size: var(--fontPrimary);
  color: var(--orangeLogo);
  text-align: center;
  margin-block-end: 2.4rem;  
}

.text-hot-products {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  font-size: var(--fontSecondary);
  margin-block-end: 4rem;
  line-height: 3rem;
}

/* CATEGORIAS PRODUCTOS WEB */

.categories-container {
  text-align: center;
  margin-block-end: 4rem;
}

.categories-container .button-categories {
  padding: 1rem 1.5rem;
  margin: .5rem;
  background-color: var(--grayBackground);
  border: none;
  border-radius: 1rem;
  color: var(--grayPrimary);
  cursor: pointer;
}

.categories-container .button-select {
  color: var(--orangeSecondary);
}
/* FIN DE CATEGORIAS PRODUCTOS WEB */


/* GRILLA DE PRODUCTOS WEB*/

.grid-container-principal {
  width: 88%;
  margin: 0 auto 4rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, 20rem);
  gap: 5rem 5rem;
  justify-content: center;
}

.grid-container-img {
  background-color: var(--grayPrimary);
  width: 15rem;
  height: 15rem;
  border-radius: 2rem;
  margin: 0 auto;  
  text-align: center;
}

.loading-skeleton {
  background-color: var(--grayPrimary);
  width: 15rem;
  height: 15rem;
  animation: 4s skeleton infinite ease-in-out;
}

@keyframes skeleton {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}

.grid-container-img img {
  width: 100%;
  height: 100%;
  border-radius: 2rem;
}

.grid-container-product {
  height: 32rem;
  position: relative;
  border: 1px solid var(--graySecondary);
  border-radius: 2rem;
  padding: 2rem;
  box-shadow: 0 0 1.6rem var(--graySecondary);
  will-change: transform;
  transform: scale(1);
  transition: transform 1.5s;
}

.grid-container-product:hover {
  box-shadow: 0 0 2.5rem var(--orangeSecondary);
  border: 1px solid var(--orangeSecondary);
  will-change: transform;
  transform: scale(1.05);
  transition: transform 1s;
}

.grid-container-product p {
  text-align: center;
  font-size: var(--fontStandard);
  padding-block: 1rem;
  padding-inline: 1rem;
}

/*.grid-container-product h4 {
  text-align: center;
  color: var(--orangeSecondary);
  font-size: var(--fontPrimary);
}*/

.grid-container-product button {
  padding: .8rem 1.6rem;
  position: absolute;
  bottom: 2.4rem;
  left: 50%;
  transform: translate(-50%);
  border: none;
  border-radius: .8rem;
  background-color: var(--grayPrimary);
}

.grid-container-product button:hover {
  background-color: var(--orangeSecondary);  
}

.grid-container-product button:focus {
  outline-color: var(--grayPrimary);
}

.section-hot-products .terminos {
  text-align: center;
  color: var(--grayPrimary);
  font-size: var(--fontStandard);
}
/* FIN DE GRILLA DE PRODUCTOS WEB */


/* ARTICLE SERVICIOS */

.available-service {
  width: 88%;
  margin: 0 auto;
  margin-block-end: 8rem;
}

.available-service h3 {
  font-size: var(--fontPrimary);
  color: var(--orangeLogo);
  text-align: center;
  margin-block-end: 2rem;
}

.available-service .text-available-service {
  width: 88%;
  margin: 0 auto;
  text-align: center;
  font-size: var(--fontSecondary);
  margin-block-end: 4rem;
  line-height: 2;
}

.available-service .text-tips-service {
  width: 88%;
  margin: 0 auto;
  text-align: center;
  font-style: italic;
  color: var(--grayPrimary);
  font-size: var(--fontStandard);
}

.flex-container-servicios {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-block-end: 2rem;
}

.flex-item-servicios {
  width: 15%;
  height: 15rem;
  text-align: center;
  font-size: var(--fontStandard);
  margin-inline: 2rem;
  margin-block-end: 4rem;
}

.flex-item-servicios img:hover {
  box-shadow: 0px 0px 15px var(--orangeSecondary);
}

.flex-item-servicios p {
  padding-block-start: 1rem;
}

.flex-item-servicios img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 3rem;
}


/*Aside*/


/* FOOTER PIE DE PAGINA */

footer .pTime {
  font-size: var(--fontStandard);
}

.footer {
  width: 100%;
  background-color: var(--grayBackground);
  color: var(--whitePrimary);
  display: flex;
  justify-content: center;
}

.icon-redes a img {
  width: 5rem;
  margin-block: 2rem;
  margin-inline: 2rem;
}

footer p {
  padding-block: 2rem;
  padding-inline: 2rem;
  font-size: var(--fontSmall);
  text-align: center;
} 


/*///////////////////////////////////////////////////////////////////*/


/* 1ER MEDIA QUERY DISPLAY BREAKPOINT 1024PX*/

@media (max-width: 1024px) {
  
 /* HEADER NAV BARRA DE NAVEGACION MEDIA QUERY 1024PX */

  header .nav-container {
    flex-wrap: wrap;
    height: auto;
  }

  header .nav-left {
    width: 88%;
    justify-content: end;
    margin-block-start: 1.6rem;
  }

  header .nav-center {
    width: 45%;
    justify-content: start;
    margin-block-end: 3.2rem;
  }

  header .nav-right {
    width: 45%;
    justify-content: end;
    align-items: end;
    margin-inline-end: 0;
    margin-block-end: 1.6rem;
  }

  header .nav-right .nav-item {
    margin-inline: 0rem;
    padding-inline: 1.6rem;
    border-right: 1px solid var(--orangeSecondary);
  }

  header .nav-right .nav-item:nth-child(4) {
    border-right: none;
    padding-inline-end: 0;
  }

  header .nav-important-text {
    width: 88%;
    margin: 0 auto;
  }


 /* MAIN INICIO FLEX CONTEINER (PANTALLA INICIAL) MEDIA QUERY 1024PX */

  main .container-home {
    width: 100%;
  }
  
  main .container-home .home-categories-container figure div {
    width: 8.6rem;
    height: 8.6rem;
  }

  main .container-home .home-categories-container figure img {
    width: 8rem;
    height: 8rem;
  }

  main .container-home .home-categories-container figure figcaption {
    font-size: var(--fontSmall);  
  }

  .warranty-container {
    width: 92%;
    justify-content: space-between;
  }

  .warranty-element {
    width: 30%;
  }
  
  .warranty-element h5 {
    width: 72%;
    text-align: center;
  }

  .warranty-element span {
    width: 16%;
  }

  .warranty-element span img {
    margin-inline-end: 0;
    width: 100%;
  }

  .container-home .text-phrase {
    width: 92%;
  }


  /* SECTION HOT NOTEBOOKS - FLEX CONTAINER NOTEBOOK - FLEX-ITEM (ESTILOS DE LAS 3 NOTEBOOK) MEDIA QUERY 1024PX */

  main .section-hot-notebooks .flex-container-notebooks {
    justify-content: center;
  }

  main .section-hot-notebooks .flex-container-notebooks .flex-item {
    width: 28rem;
    height: 40rem;
    margin-inline: 3.2rem;
    grid-template-columns: 100%;
    grid-template-rows: 32% 68%;
  }

  main .section-hot-notebooks .flex-container-notebooks .flex-item div .text-description {
    text-align: center;
  }


 /* ARTICLE GRID PRINCIPAL PROMOCIONES MEDIA QUERY 1024PX */

  .section-hot-products {
    width: 98%;
  }

  .section-hot-products .text-hot-products {
    line-height: normal;
    width: 98%;
  }

  .grid-container-principal {
    gap: 1.6rem;
  }

  .grid-container-product {
    padding: .8rem;
    border-radius: .8rem;
  };

  .grid-container-img {
    border-radius: .8rem;
  }

  .grid-container-img img {
    border-radius: .8rem;
  }

  /*.loading-skeleton {
    height: 70%;
  }*/


 /* ARTICLE SERVICIOS MEDIA QUERY 1024PX */

  .available-service {
    width: 92%;
  }

  .available-service .text-available-service {
    width: 92%;
    line-height: 1.5;
  }

  .flex-container-servicios {
    justify-content: space-evenly;
  }

  .flex-item-servicios {
    width: 10rem;
    height: 10rem;
  }

  .available-service .text-tips-service {
    width: 92%;
  }


  /* FOOTER PIE DE PAGINA MEDIA QUERY 1024PX */

  footer .pTime {
    padding-inline: 2.4rem;
  }

  .footer .icon-redes a img {
    width: 4rem;
    margin-block: 3rem;
    margin-inline: 1.6rem;
  }

  footer .pCredits {
    padding-inline: 2.4rem;
  }

}


/* 2DO MEDIA QUERY DISPLAY BREAKPOINT 768px*/

@media (max-width: 768px) {

  /* HEADER NAV BARRA DE NAVEGACION MEDIA QUERY 768px */

  header .nav-left, header .nav-center, header .nav-right {
    width: 100%;
    justify-content: center;
    margin-block: 1.6rem;
    margin-inline: 0;
  }

  header .nav-right .nav-item:nth-child(4) {
    padding-inline-end: 1.6rem;
  }

  
  /* MAIN INICIO FLEX CONTEINER (PANTALLA INICIAL) MEDIA QUERY 768px */

  main .container-home-h1 div {
    flex-direction: column-reverse;
  }

  main .container-home-h1 div figure a img {
    margin: .8rem;
  }

  main .container-home .home-categories-container {
    flex-wrap: wrap;
    justify-content: center;
    height: auto;
  }

  main .container-home .home-categories-container figure {
    margin-inline: 3.2rem;
    margin-block: 2.4rem;
  }

  main .container-home .home-categories-container figure img {
    width: 8.8rem;
    height: 8.8rem;
  }

  main .container-home .home-categories-container figure div {
    width: 9.2rem;
    height: 9.2rem;
  }


  /* SECTION HOT NOTEBOOKS - FLEX CONTAINER NOTEBOOK - FLEX-ITEM (ESTILOS DE LAS 3 NOTEBOOK) MEDIA QUERY 768PX */

  main .section-hot-notebooks .flex-container-notebooks .flex-item {
    width: 100%;
    height: 24rem;
    margin-inline: 0;
    grid-template-columns: 32% 68%;
    grid-template-rows: 100%;
  }  

  main .section-hot-notebooks .flex-container-notebooks .flex-item div .text-description {
    text-align: start;
  }


  /* ARTICLE GRID PRINCIPAL PROMOCIONES MEDIA QUERY 768px */

  .section-hot-products {
    width: 100%;
  }

  /*.section-hot-products .text-hot-products {
  }*/

  .section-hot-products .terminos {
    width: 88%;
    margin: 0 auto;
  }

  .grid-container-principal {
    gap: 2.4rem .8rem;
  }

  /*.loading-skeleton {
    height: 55%;
  }*/

  
  /* ARTICLE SERVICIOS MEDIA QUERY 768px */

  .available-service {
    width: 96%;
  }

  .flex-container-servicios {
    justify-content: center;
    width: 96%;
  }

  .flex-item-servicios {
    margin-block-end: 4.8rem;
  }
  
  .available-service .text-tips-service {
    width: 96%;
  }
}


/* 3ER MEDIA QUERY DISPLAY BREAKPOINT 480PX*/

@media (max-width: 480px) {

  /* HEADER NAV BARRA DE NAVEGACION MEDIA QUERY 480PX */

  header .nav-left, header .nav-center, header .nav-right {
    margin-block: .8rem;
  }

  header .nav-right .nav-item {
    padding-inline: .8rem;
  }

  header .nav-important-news p {
    width: 98%;
  }

  main .container-home .container-home-h1 {
    flex-direction: column;
    width: 98%;
  }

  main .container-home .container-home-h1 h1 {
    text-align: center;
  }

  main .container-home .container-home-h1 div {
    flex-direction: row;
    justify-content: center;
  }

  main .container-home .warranty-container {
    flex-direction: column;
    width: 98%;
    align-items: center;
  }

  main .container-home .warranty-element {
    width: 90%;
    margin-block-end: 1.6rem;
  }

  main .container-home .warranty-element span {
    padding: .8rem;
  }


  /* SECTION HOT NOTEBOOKS - FLEX CONTAINER NOTEBOOK - FLEX-ITEM (ESTILOS DE LAS 3 NOTEBOOK) MEDIA QUERY 480PX */

  main .section-hot-notebooks .flex-container-notebooks .flex-item {
    width: 96%;
    height: 52rem;
    grid-template-columns: 100%;
    grid-template-rows: 48% 52%;
  }  

  main .section-hot-notebooks .flex-container-notebooks .flex-item div {
    text-align: center;
    padding: 1.6rem .8rem;
  }

  main .section-hot-notebooks .flex-container-notebooks .flex-item div .text-description, main .section-hot-notebooks .flex-container-notebooks .flex-item div .text-detail {
    text-align: center;
  }


  /* ARTICLE GRID PRINCIPAL PROMOCIONES MEDIA QUERY 480PX */

  .section-hot-products {
    width: 100%;
  }

  .section-hot-products .text-hot-products {
    line-height: 1.4;
    width: 98%;
  }

  .section-hot-products .terminos {
    width: 98%;
    margin: 0 auto;
  }

  .grid-container-principal {
    grid-template-columns: 50% 50%;
    gap: 1.2rem 1.2rem;
  }

  .grid-container-img {
    width: 10rem;
    height: 10rem;
  }

  .loading-skeleton {
    width: 10rem;
    height: 10rem;
  }
}