* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

html {
  font-size: 62.5%;
}

:root {
  --orangeLogo:  #f96809;
  --orangeSecondary: #F5B041;
  --whitePrimary: #FAFAFA;
  --grayPrimary: #B3B3B3;
  --graySecondary: #4D4D4D;
  --grayBackground: #202020;
  --blackPrimary: #050505;
  --blackBackground: #040404;
  --fontSmall: 1.4rem;
  --fontStandard: 1.6rem;
  --fontSecondary: 1.8rem;
  --fontPrimary: 2.6rem;
}

body {
  font-family: 'Ubuntu', sans-serif;
  background: #060607;
  color: var(--whitePrimary);
}

h1 {
  font-size: var(--fontPrimary);
  color: var(--orangeLogo);
  text-align: center;  
}

h2 {
  font-size: var(--fontSecondary);
  text-align: center;
  font-weight: normal;
  color: var(--whitePrimary);
  line-height: 3rem;
}



/* HEADER NAV BARRA DE NAVEGACION */

header .nav-container {
  height: 6rem;
  background-color: var(--grayBackground);
  display: flex;
  justify-content: center;
  margin-block-end: 4rem;
}

header .nav-left {
  width: 30%;
  display: flex;
  font-size: var(--fontStandard);
  color: var(--orangeSecondary);
  align-items: center;
  list-style: none;
  margin-inline-start: 5rem;
}

header .nav-center {
  width: 40%;
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: center;
}

header .nav-right {
  width: 30%;
  display: flex;
  font-size: var(--fontStandard);
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  margin-inline-end: 4rem;
}

header .nav-right .nav-item {
  margin-inline-end: 4rem;
}

.nav-container li a:link {
  text-decoration: none;
  color: var(--whitePrimary);
}

.nav-container li a:visited {
  color: var(--whitePrimary);
}

.nav-container li a:hover {
  color: var(--orangeLogo);
  font-size: 2rem;
}


/* MAIN INICIO FLEX CONTEINER (PANTALLA INICIAL)*/

.container-home {
  margin-block-end: 8rem;
}

.container-home h1 {
  width: 80%;
  margin: 0 auto;
  margin-block-end: 2rem;
}

.container-home h2 {
  width: 80%;
  margin: 0 auto;
  margin-block-end: 4rem;
}

.flex-container-inicio {
  width: 100%;
  height: auto;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  margin-block-end: 4rem;
}

.flex-item-lateral {
  height: 30rem;
  width: 25rem;
  border-radius: 2rem;
  object-fit: contain;
  opacity: .8;
}

.flex-item-lateral:hover {
  transform: rotate(360deg) scale(1.2);
  will-change: transform;
  transition: transform 1.5s;
  opacity: 1;
}

.flex-item-center {
  height: 30rem;
  width: 50rem;
  border-radius: 2rem;
  will-change: transform;
  transition: transform 1s;
  object-fit: cover;
  opacity: .8;
}

.flex-item-center:hover {  
  transform: scale(1.1);
  opacity: 1;
}

.container-home p {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  font-style: italic;
  color: var(--grayPrimary);
  font-size: var(--fontStandard);
}


/* ARTICLE GRID PRINCIPAL PROMOCIONES */

.section-hot-products {
  width: 90%;
  margin: 0 auto;
  margin-block-end: 8rem;
}

.section-hot-products h3 {
  font-size: var(--fontPrimary);
  color: var(--orangeLogo);
  text-align: center;
  margin-block-end: 2rem;  
}

.text-hot-products {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  font-size: var(--fontSecondary);
  margin-block-end: 4rem;
  line-height: 3rem;
}

.grid-container-principal {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 30rem));
  gap: 4rem 4rem;
  justify-content: center;
  margin-block-end: 4rem;
}

.grid-container-img img {
  width: 100%;
  height: 100%;
  border-radius: 2rem;
}

.grid-container-product {
  border: 1px solid var(--graySecondary);
  border-radius: 2rem;
  padding: 2rem;
  box-shadow: 0 0 2rem var(--graySecondary);
}

.grid-container-product:hover {
  box-shadow: 0 0 2.5rem var(--orangeSecondary);
  border: 1px solid var(--orangeSecondary);
  will-change: transform;
  transform: scale(1.1);
  transition: transform 1s;
}

.grid-container-product p {
  text-align: center;
  font-size: var(--fontStandard);
  padding-block: 1rem;
  padding-inline: 1rem;
}

.grid-container-product h4 {
  text-align: center;
  color: var(--orangeSecondary);
  font-size: var(--fontPrimary);
}

.section-hot-products .terminos {
  text-align: center;
  color: var(--grayPrimary);
  font-size: var(--fontStandard);
}


/* ARTICLE SERVICIOS */

.available-service {
  width: 90%;
  margin: 0 auto;
  margin-block-end: 8rem;
}

.available-service h3 {
  font-size: var(--fontPrimary);
  color: var(--orangeLogo);
  text-align: center;
  margin-block-end: 2rem;
}

.available-service .text-available-service {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  font-size: var(--fontSecondary);
  margin-block-end: 4rem;
  line-height: 3rem;
}

.available-service .text-tips-service {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  font-style: italic;
  color: var(--grayPrimary);
  font-size: var(--fontStandard);
}

.flex-container-servicios {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-block-end: 2rem;
}

.flex-item-servicios {
  width: 15%;
  height: 150px;
  text-align: center;
  font-size: var(--fontStandard);
  margin-inline: 2rem;
  margin-block-end: 4rem;
}

.flex-item-servicios img:hover {
  box-shadow: 0px 0px 15px var(--orangeSecondary);
}

.flex-item-servicios img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 3rem;
}


/*Aside*/


/* FOOTER PIE DE PAGINA */

.footer {
  width: 100%;
  background-color: var(--grayBackground);
  color: var(--whitePrimary);
  display: flex;
  justify-content: center;
}

.icon-redes a img {
  width: 5rem;
  margin-block: 2rem;
  margin-inline: 2rem;
}

footer p {
  padding-block: 2rem;
  font-size: var(--fontSmall);
  text-align: center;
} 



/* MEDIA QUERY DISPLAY BREAKPOINT 850PX*/

@media (max-width: 948px) {
  
/* HEADER NAV BARRA DE NAVEGACION MEDIA QUERY */

  header .nav-container {
    flex-wrap: wrap;
    height: 100px;
  }

  header .nav-left {
    display: none;    
  }

  header .nav-right {
    width: 100%;  
    margin-inline-end: 0;
    justify-content: center;    
  }

  header .nav-right .nav-item {
    margin-inline: 0rem;
    padding-inline: 1rem;  
    border-right: 1px solid var(--orangeSecondary);
  }

  header .nav-right .nav-item:nth-child(4) {
    border-right: none;
  }


/* MAIN INICIO FLEX CONTEINER (PANTALLA INICIAL) MEDIA QUERY */

  .container-home h2 {
    line-height: normal;
  }

  .container-home .flex-container-inicio {
    flex-wrap: wrap;
    width: 95%;
  }

  .flex-item-lateral {
    height: 25rem;
    width: 30rem;
  }

  .flex-item-lateral:hover {
    transform: none;
  }

  .flex-item-center {
    height: 45rem;
    width: 30rem;
    margin-block: 4rem;
  }


/* ARTICLE GRID PRINCIPAL PROMOCIONES MEDIA QUERY */

  .section-hot-products {
    width: 95%;
  }

  .section-hot-products .text-hot-products {
    line-height: normal;
  }


/* ARTICLE SERVICIOS MEDIA QUERY*/

  .available-service {
    width: 95%;
  }

  .available-service .text-available-service {
    line-height: normal;
  }

  .flex-conteiner-servicios {
    align-items: center;
  }

  .flex-item-servicios {
    width: 25rem;
    height: 15rem;
  }


/* FOOTER PIE DE PAGINA MEDIA QUERY */

  .footer {
    width: 100%;
    justify-content: space-evenly;
  }

  .footer .icon-redes a img {
    width: 4rem;
    margin-block: 3rem;
    margin-inline: .5rem;
  }

  .footer p {
    padding-block: 2rem;
  }

}