<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="robots" content="index, follow">

    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">

    <meta name="description" content="¡Bienvenido a Mendohardware Computación! | Tecnologías de vanguardia y soluciones informáticas | Contamos con el respaldo de primeras marcas y 15 años de experiencia | Explora nuestra web y descubre nuestros productos y servicios | ventas@mendohardware.com.ar">

    <meta name="viewport" content="width=device-width, initial-scale1.0">
    <title>Mendohardware Computación | Mendoza</title>
    <link rel="shortcut icon" href="https://mendohardware.com.ar/img/icono.ico" type="image/x-icon">
    <link rel="preload" href="./fonts/Ubuntu-Light.ttf" as="font" type="font/ttf" crossorigin>
    <link rel="stylesheet" href="./css/main.css?version=<%= Date.now() %>">
    <!--<link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;1,300&display=swap" rel="stylesheet">-->

  </head>

  <body id="home">
    <header>
      <nav class ="nav-container">

        <ul class="nav-left">
          <li class="nav-item">
            #sorpresas2023 <span class="mundial">✨</span> #nuevosDesafíos!!
          </li>
        </ul>

        <ul class="nav-center">
          <li class="nav-item-img">
            <figure>
              <a href="https://mrivero40.github.io/mhgame/" target="_blank" rel="noopener noreferrer"> 
                <img src="https://mendohardware.com.ar/img/logoMhLargo.png" alt="imagen logo Mendohardware Computación">
              </a>
            </figure>
          </li>          
        </ul>

        <ul class="nav-right">
          <!--<li class="nav-item">
            <a href="#home">Inicio</a>
          </li>-->
          <li class="nav-item">
            <a href="#promos">Promos</a>
          </li>
          <li class="nav-item">
            <a href="#servicios">Servicios</a>
          </li>
          <!--<li class="nav-item">
            <a href="https://mh.mercadoshops.com.ar/" target="_blank">Tienda</a>
          </li>-->
          <li class="nav-item">
            <a href="#contacto">Contacto</a>
          </li>
        </ul>

      </nav>
    </header>

    <main>    

      <section class="container-home">

        <h1>Mendohardware Tienda Informática Virtual</h1>

        <h2>
          Tecnologías de vanguardia, soluciones informáticas y desarrollo de productos web. Enfocados en el crecimiento de profesionales, estudiantes, pymes y empresas. Fusionamos el respaldo de primeras marcas y quince  años de experiencia.
        </h2>

        <div class="flex-container-inicio">

          <div class="flex-item flex-item-left">
            <figure>
              <img src="https://mendohardware.com.ar/img/4D92R.png" alt="notebook dell i3 11va generacion">     
            </figure>
            <div>
              <h4>1 pago -> <span id="spanPriceLeft">Consultar</span></h4>
              <h4>12 cuotas -> <span id="spanDuesLeft">Consultar</span></h4>
              <p class="text-description">Notebook 15.6" Dell 3511 I3-11va</p>
              <p class="text-detail">I3-1115G4 | DDR4 4GB (máx. 16GB) | SOLIDO NVME 256GB | 15.6" HD | SATA DISPONIBLE | BLUETOOTH | WIFI D. BAND | WEBCAM | WIN 11<span id="spanTFLeft"></span></p>
            </div>
          </div>

          <div class="flex-item flex-item-center">
            <figure>
              <img src="https://mendohardware.com.ar/img/484R7LT.webp" alt="Notebook HP 14 pulgadas 240 G8 i3-1005G1 ssd240gb ram8gb">    
            </figure>            
            <div>
              <h4>1 pago -> <span id="spanPriceCenter">Consultar</span></h4>
              <h4>12 cuotas -> <span id="spanDuesCenter">Consultar</span></h4>
              <p class="text-description">Notebook 14" Hp 240-G8 I3-10ma</p>
              <p class="text-detail">I3-1005G1 | DDR4 8GB (máx. 16GB) | DISCO SOLIDO 240GB | 14" HD | M.2 DISPONIBLE | BLUETOOTH 4.2 | WIFI DUAL BAND | WEBCAM 720P<span id="spanTFCenter"></span></p>
            </div>
          </div>
          
          <div class="flex-item flex-item-right">
            <figure>
              <img src="https://mendohardware.com.ar/img/82NB002FAR.webp" alt="Notebook Lenovo 15.6 pulgadas i3-1011u 8gb ssd250">  
            </figure>
            <div>
              <h4>1 pago -> <span id="spanPriceRight">Consultar</span></h4>
              <h4>12 cuotas -> <span id="spanDuesRight">Consultar</span></h4>
              <p class="text-description">Notebook 15.6" Lenovo V15 I3-10ma</p>
              <p class="text-detail">I3-10110U | DDR4 8GB (4GB + 4GB) | SOLIDO SATA 240GB | 15.6" HD | NVME | WIFI | WEBCAM | FREEDOS<span id="spanTFRight"></span></p>
            </div>
          </div>

        </div>  

        <p class="text-phrase">
          “Si tú no trabajas por tus sueños, alguien te contratará para que
          trabajes por los suyos” Steve Jobs
        </p>

        <div class="warranty-container">

          <div class="warranty-element">
            <span><img src="./icon/workspace.svg" alt="ícono de espacio de trabajo premium - garantía oficial"></span>
            <h5>Garantía Oficial</h5>
          </div>

          <div class="warranty-element">
            <span><img src="./icon/diamond.svg" alt="ícono de diamante - beneficios exclusivos"></span>
            <h5>Beneficios Exclusivos</h5>
          </div>

          <div class="warranty-element">
            <span><img src="./icon/verified.svg" alt="ícono de verificado - asistencia virtual"></span>
            <h5>Asistencia Virtual</h5>
          </div>
        </div>

      </section>    

      
      <section id="promos" class="section-hot-products">

        <h3>Promos Web</h3>
        <p class="text-hot-products">
          ¡Tu tiempo es valioso! Creamos esta selección de productos HOT's a precios competitivos. Con mejores herramientas conseguirás resultados profesionales, y una mejor experiencia.
        </p>

        <div class="categories-container">
          <button class="button-categories">Auriculares</button>
          <button class="button-categories">Conectividad</button>
          <button class="button-categories">Discos Sólidos</button>
          <button class="button-categories">Fuentes</button>
          <button class="button-categories">Memorias Flash</button>
          <button class="button-categories">Mouses</button>
          <button class="button-categories">Parlantes</button>
          <button class="button-categories">Teclados</button>
          <button class="button-categories">Tintas</button>
          <button class="button-categories">Tóner</button>
          <button class="button-categories">Varios</button>
          <button id="buttonHot" class="button-categories">HOT</button>
        </div>

        <div class="grid-container-principal">

          <!--
          <div class="grid-container-product">
            <figure class="grid-container-img">
              <img title="TINTA EPSON ORIGINAL T544 BOTELLA" alt="Tinta Epson Original T544 Botella">
            </figure>
            <p></p>
            <h4></h4>
          </div>
          -->

        </div>

        <div class="terminos">
          <p>
            Los precios incluyen IVA. Válido modalidad de pago CONTADO (tarj. débito, transf. bancaria o billetera digital, efectivo). Sujeto a disponibilidad de stock.
          </p>
        </div>

      </section>


      <section id="servicios" class="available-service">

        <h3>Servicios</h3>

        <p class="text-available-service">
          - Centramos esfuerzos en soluciones personalizadas.</br>
          - Acompañamos tu crecimiento con nuevas tecnologías.</br>
          - Brindamos un canal de soporte para guiarte durante el desarrollo.          
        </p>

        <div class="flex-container-servicios">

          <figure class="flex-item-servicios">
            <img src="https://mendohardware.com.ar/img/reparacion.jpg" alt="imagen de reparación de notebook">
            <figcaption><p>Reparaciones</p></figcaption>
          </figure>
          <figure class="flex-item-servicios">
            <img src="https://mendohardware.com.ar/img/instalaciones.jpg" alt="imagen de instalación de aplicaciones">
            <p>Instalaciones</p>
          </figure>
          <figure class="flex-item-servicios">
            <img src="https://mendohardware.com.ar/img/asistencia.webp" alt="imagen de asistencia técnica">
            <p>Mantenimiento</p>
          </figure>
          <figure class="flex-item-servicios">
            <img src="https://mendohardware.com.ar/img/mantenimiento.jpg" alt="imagen de mantenimiento informático">
            <p>Asistencia</p>
          </figure>
          <figure class="flex-item-servicios">
            <img src="https://mendohardware.com.ar/img/asesoramiento.webp" alt="imagen de asesoramiento de computación">
            <p>Asesoramiento</p>
          </figure>
        </div>
        
        <p class="text-tips-service">
          Tips: Realizá copia de seguridad de tus archivos importantes. En la nube o un medio de almacenamiento externo a tu dispositivo.
        </p>
        
      </section>

    </main>

    <footer>

      <p class="pTime">| Online lunes a viernes 10.30 a 19.30hs - Ciudad de Mendoza - Argentina |</p>

      <div id="contacto" class="footer">        

        <figure class="icon-redes">
          <a href="https://facebook.com/mendohardware" target="_blank">
            <img src="https://mendohardware.com.ar/img/facebook.png" alt="logo facebook">
          </a>
        </figure>

        <figure class="icon-redes">
          <a href="https://instagram.com/mendohardware" target="_blank">
            <img src="https://mendohardware.com.ar/img/instagram.png" alt="logo instagram">
          </a>
        </figure>

        <figure class="icon-redes">
          <a href="https://twitter.com/mezequiel40" target="_blank">
            <img src="https://mendohardware.com.ar/img/twitter.png" alt="logo twitter">
          </a>
        </figure>

        <figure class="icon-redes">
          <a href="https://wa.me/+542615538661" target="_blank">
            <img src="https://mendohardware.com.ar/img/whatsApp.png" alt="logo whatsapp">
          </a>
        </figure>

        <figure class="icon-redes">
          <a href="mailto:ventas@mendohardware.com.ar" target="_blank">
            <img src="https://mendohardware.com.ar/img/email.png" alt="logo correo">
          </a>
        </figure>

      </div>      

      <p class="pCredits">© Copyrigth derechos reservados a Mendohardware Computación 2023 | Dev @mrivero40 (Matias Ezequiel Rivero)</p>

    </footer>

    <script type="module" src="./src/script.js?version=<%= Date.now() %>"></script>

  </body>
</html>
